In [4]:
import sqlite3

def crear_bd():
    try:
        conexion = sqlite3.connect('restaurante1.db')
        cursor = conexion.cursor()
        cursor.execute('''
            CREATE TABLE categoria(
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nombre VARCHAR(100) UNIQUE NOT NULL)
        ''')
        cursor.execute('''
            CREATE TABLE plato(
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nombre VARCHAR(100) UNIQUE NOT NULL, 
                categoria_id INTEGER NOT NULL,
                FOREIGN KEY(categoria_id) REFERENCES categoria(id))
        ''')
        print("Se ha creado la base de datos correctamente")
    except sqlite3.OperationalError:
        print("La base de datos y las tablas ya existen")
    finally:
        conexion.close()

crear_bd()

Se ha creado la base de datos correctamente

In [5]:
import sqlite3

def agregar_categoria():
    nombre_categoria = input("Introduce el nombre de la categoría que deseas agregar: ")
    try:
        conexion = sqlite3.connect('restaurante1.db')
        cursor = conexion.cursor()
        cursor.execute('INSERT INTO categoria (nombre) VALUES (?)', [nombre_categoria])
        conexion.commit()
        print("Categoría agregada correctamente")
    except sqlite3.IntegrityError:
        print("La categoría ya existe en la base de datos")
    finally:
        conexion.close()

def mostrar_menu():
    print("Bienvenido al sistema de gestión de platos del restaurante")
    opcion = ""
    while opcion != "2":
        print("¿Qué deseas hacer?")
        print("1. Agregar una nueva categoría")
        print("2. Salir")
        opcion = input("Introduce el número de la opción que deseas: ")
        if opcion == "1":
            agregar_categoria()

mostrar_menu()

Bienvenido al sistema de gestión de platos del restaurante
¿Qué deseas hacer?
1. Agregar una nueva categoría
2. Salir
Introduce el número de la opción que deseas: 1
Introduce el nombre de la categoría que deseas agregar: Primeros
Categoría agregada correctamente
¿Qué deseas hacer?
1. Agregar una nueva categoría
2. Salir
Introduce el número de la opción que deseas: 1
Introduce el nombre de la categoría que deseas agregar: Segundos
Categoría agregada correctamente
¿Qué deseas hacer?
1. Agregar una nueva categoría
2. Salir
Introduce el número de la opción que deseas: 1
Introduce el nombre de la categoría que deseas agregar: Postres
Categoría agregada correctamente
¿Qué deseas hacer?
1. Agregar una nueva categoría
2. Salir
Introduce el número de la opción que deseas: 2

In [6]:
def agregar_plato():
    # Mostramos las categorías disponibles
    conexion = sqlite3.connect('restaurante1.db')
    cursor = conexion.cursor()
    cursor.execute("SELECT * FROM categoria")
    categorias = cursor.fetchall()
    print("Categorías disponibles:")
    for categoria in categorias:
        print(f"{categoria[0]}. {categoria[1]}")
    
    # Pedimos al usuario que elija una categoría
    categoria_id = input("Elige una categoría: ")
    
    # Pedimos al usuario el nombre del plato
    nombre_plato = input("Introduce el nombre del plato: ")
    
    # Insertamos el plato en la base de datos
    try:
        cursor.execute("INSERT INTO plato (nombre, categoria_id) VALUES (?, ?)", (nombre_plato, categoria_id))
        conexion.commit()
        print("Plato añadido correctamente!")
    except:
        print("Error al añadir el plato. Comprueba que el nombre no está repetido y que la categoría existe.")
        
def mostrar_menu():
    print("Bienvenido al sistema de gestión de restaurantes")
    opcion = ""
    while opcion != "3":
        print("\n1. Agregar categoría")
        print("2. Agregar plato")
        print("3. Salir")
        opcion = input("Elige una opción: ")
        
        if opcion == "1":
            agregar_categoria()
        elif opcion == "2":
            agregar_plato()
        elif opcion == "3":
            print("Saliendo del programa...")
        else:
            print("Opción no válida. Introduce una opción del 1 al 3.")

In [9]:
mostrar_menu()
#agregar_plato("Ensalada del tiempo", 1)
#agregar_plato("Zumo de tomate", 1)
#agregar_plato("Estofado de pescado", 2)
#agregar_plato("Pollo con patatas", 2)
#agregar_plato("Flan con nata", 3)
#agregar_plato("Fruta del tiempo", 3)

Bienvenido al sistema de gestión de restaurantes

1. Agregar categoría
2. Agregar plato
3. Salir
Elige una opción: 2
Categorías disponibles:
1. Primeros
2. Segundos
3. Postres
Elige una categoría: 1
Introduce el nombre del plato: Ensalada
Plato añadido correctamente!

1. Agregar categoría
2. Agregar plato
3. Salir
Elige una opción: 3
Saliendo del programa...

In [10]:
import sqlite3

# Función para mostrar el menú
def mostrar_menu():
    # Conexión a la base de datos
    conn = sqlite3.connect('restaurante1.db')
    c = conn.cursor()

    # Obtener los platos agrupados por categoría
    c.execute("SELECT categoria.nombre, plato.nombre FROM categoria JOIN plato ON categoria.id = plato.categoria_id ORDER BY categoria.id")
    platos = c.fetchall()

    # Mostrar los platos agrupados por categoría
    categoria_actual = ""
    for plato in platos:
        if plato[0] != categoria_actual:
            categoria_actual = plato[0]
            print(f"\n{categoria_actual.upper()}")
        print(f"- {plato[1]}")

    # Cerrar la conexión a la base de datos
    conn.close()

# Ejecutar la función para mostrar el menú
mostrar_menu()

PRIMEROS
- Ensalada